<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="c:\temp\internal.txt">


  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <targets>
    <target name="dbApp"
        xsi:type="Database"
        commandType="StoredProcedure"
        commandText="[logs].[NLogAddEntryToApp]"
        >
      <connectionString>Server=WINDMWMDVDB\devdb, 59876;Database=KBLTest;Trusted_Connection=True;MultipleActiveResultSets=true</connectionString>
      <parameter name="@machineName"    layout="${machinename}" />
      <parameter name="@siteName"       layout="${iis-site-name}" />
      <parameter name="@logged"         layout="${date}" />
      <parameter name="@level"          layout="${level}" />
      <parameter name="@username"       layout="${aspnet-user-identity}" />
      <parameter name="@message"        layout="${message}" />
      <parameter name="@logger"         layout="${logger}" />
      <parameter name="@callSite"       layout="${callsite}" />
      <parameter name="@exception"      layout="${exception:tostring}" />
      <parameter name="@processId"      layout="${processId}" />
      <parameter name="@threadId"       layout="${threadId}" />
      <parameter name="@mvcActionName"  layout="${aspnet-MVC-Action}" />
      <parameter name="@requestMethod"  layout="${aspnet-Request-Method} " />
      <parameter name="@correlationId"  layout="${aspnet-item:variable=CorrelationId}" />
    </target>
    
    <target xsi:type="File" name="ownFile" fileName="c:\temp\nlog-own-${shortdate}.log"
              layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}" />
    <target xsi:type="Null" name="blackhole" />
  </targets>
  
  <rules>
    <!--All logs, including from Microsoft-->

    <!--Skip Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <logger name="*" minlevel="Trace" writeTo="dbApp" />
  </rules>
</nlog>